BODY {
	font: 12pt 'myriad pro',helvetica,arial,sans-serif;
	background: #fff;
	color: #666;
	margin: 0;
	padding: 0;
	background: #ccc;
}

#container {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 25px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#container>DIV {
	display: none
}

.dialog {
	position: absolute;
	box-sizing: border-box;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
	margin: -150px -250px;
	padding: 30px 25px;
	border: 1px solid #e5e5e5;
	border-radius: 12px;
	background: #fff;
	box-shadow: 1px 2px 8px rgba(0,0,0,0.25);
	text-align: center;
}

.dialog.splash {
	width: 500px;
	height: 300px;
	margin: -150px -250px;
}

.dialog.import {
	width: 800px;
	height: 400px;
	margin: -200px -400px;
}

.dialog.picker UL {
	list-style: none;
	padding: 0;
}

.display {
	width: 80%;
	box-sizing: border-box;
	padding: 10px 25px;
	background-color: #fff;
	border-radius: 12px;
}

.display TABLE {
	border-collapse: collapse;
}

.display TABLE TH, .display TABLE TD {
	width: 100px;
	padding: 5px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px dotted #999;
	border-bottom: 1px dotted #999;
}

.display TABLE TH {
	background-color: #ccc;
	border-right-color: #fff;
}

